{{define "title"}} 
    {{.departmentName}} - {{.otListName}} List - {{.date}}
{{end}} 

{{define "style"}}
    body {
        margin: 0;
    }
    h1 {
        font-size: 16px;
        text-align: center;
        margin: 0;
    }
    h2 {
        font-size: 16px;
        text-align: center;
        font-weight: normal;
        margin: 0;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    td.room {
        background-color: red;
    }
    thead > tr {
        background-color: grey;
    }
    td {
        border: solid 1px black;
        padding: 5px;
        vertical-align: text-top;
    }
    td:first-child {
        padding-bottom: 40px;
    }
    td:only-child {
        padding-bottom: 5px;
        background-color: red;
        font-weight: bold;
        text-align: center;
    }
{{end}}

{{define "body"}}
    <h1 align="center">{{.departmentName}} - OT List</h1>
    <h2 align="center">{{.date}} - {{.otListName}}</h2>
    <table  cellspacing="0" cellpadding="5" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Bed</th>
                <th>NID</th>
                <th>Name</th>
                <th>Age / Sex</th>
                <th>Diagnosis</th>
                <th>Procedure</th>
                <th>Surgeon</th>
                <th>Comorbids</th>
                <th>Special Requirements</th>
                <th>Anes</th>
                <th>Phone</th>
                <th>OT Use Only</th>
            </tr>
        </thead>
        <tbody>
            {{range $row := .tableRows}}
            <tr>
                {{if eq (len $row) 1}}
                    <td colspan="13" class="room">{{index $row 0}}</td>
                {{else}}
                    {{range $row}}
                        <td>{{.}}</td>
                    {{end}}
                {{end}}
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}
